In [1]:
import pandas as pd
import numpy as np

Load Data

In [2]:
db = pd.read_csv('data.csv')
db.head

<bound method NDFrame.head of                                                message  fingers tail   species
0                                   pluvia arbor aquos        4   no    Aquari
1                            cosmix xeno nebuz odbitaz        5  yes   Zorblax
2                   solarix glixx novum galaxum quasar        5  yes   Zorblax
3             arbor insectus pesros ekos dootix nimbus        2  yes   Florian
4                    mermax drakos lorix epikoz deftax        4   no    Faerix
..                                                 ...      ...  ...       ...
495  empathix sadix disgux dredax pridius afgstix e...        2   no  Emotivor
496                      quasar ustron nebulax meteorn        4   no   Quixnar
497                 astron xeno ceaestar astron kometa        6  yes   Zorblax
498  sporzom nimbus terram terranix aviana ekos nimbub        2  yes   Florian
499     blastix titanos relikum drakos gryphox sirenix        4  yes   Mythron

[500 rows x 4 columns]>

In [3]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   message  500 non-null    object
 1   fingers  500 non-null    int64
 2   tail     500 non-null    object
 3   species  500 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.8+ KB

In [5]:
db.duplicated().sum()

np.int64(0)

No null as well as duplicate data